.cards {
    margin-top: 121px;
    display: flex;
    h1 {
        @extend %HText;
        padding-left: 5%;
        margin-bottom: 80px;
    }
    .cards__cardLink:hover .cards__card {
        border: 1px solid $PurpleText;
    }
    &__wrapper {
        width: 100%;
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__cardLink {
        display: flex;
        justify-content: center;
    }
    &__card {
        display: flex;
        flex-direction: column-reverse;
        border: 1px solid $BorderColor;
        width: 90%;
    }
    &__text {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    &__title {
        cursor: pointer;
        display: flex;
        width: 90%;
        flex-direction: column;
        cursor: pointer;
        :hover {
            color: $PurpleText;
        }
        .title {
            @extend %CardTitle;
        }
        .subTitle {
            @extend %CardSubTitle;
            margin-top: 18px;
        }
    }

    &__elem {
        display: flex;
        object-fit: none;

        img {
            object-fit: none;
        }
        p {
            padding-left: 10px;
        }
    }
    &__desc {
        margin-top: 45px;
        display: flex;
        width: 90%;
        flex-direction: column;
        cursor: pointer;

        .secondDesc {
            padding-top: 15.5px;
            padding-bottom: 20px;
        }
    }
    &__img {
        display: flex;
    }
    
    &__rightLine {
        width: 10px;
        background-color: $PurpleText;
    }

    &__img {
        position: relative;
        border: none;
        display: flex;

        .specialImg {
            position: absolute;
            left: 0;
            top: 0;
        }
        .emptyImg {
            opacity: 0;
        }
        .imgCard {
            width: 100%;
        }
        &__rightLine {
            width: 10px;
            background-color: $PurpleText;
        }
    }

    @media only screen and (min-width: 768px) {
        .cards {
            &__img {
                .imgCard {
                    object-fit: cover;
                }
            }
            &__card {
                display: flex;
                flex-direction: row-reverse;
            }
            &__title {
                
                .subTitle {
                    margin-top: 5px;
                }
            }
            .secondDesc {
                padding-top: 11.5px;
                padding-bottom: 20px;
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        .cards {
            display: flex;
            &__wrapper {
                h1 {
                    padding-left: 0;
                }
                margin-left: 100px;
                width: 50%;
                display: flex;
            }

            &__list {
                width: 100%;
            }

            &__cardLink {
                display: inline;
                width: 100%;
            }

            &__card {
                display: flex;
                flex-direction: row;
                width: 100%;
                min-width: 700px;
            }
        }
        .imgCard {
            min-width: 330px;
            object-fit: cover;
        }
       
    }
}
