@import "./variables";

.header {
    display: flex;
    max-width: 100%;
    border-bottom: 1px solid $BorderColor;
    &__logo {
        cursor: pointer;
    }
    &__links {
        display: none;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding-left: 15px;
    }
    &__items {
        display: flex;
    }

    
    li {
        @extend %HeaderText;
        :hover {
            color: $PurpleText;
        }
    }

    &__elem {
        display: flex;
        margin-left: 40px;
    }
    &__buttons {
        width: 60px;
        align-items: center;
        text-align: center;
        display: flex;
        border-left: 1px solid $BorderColor;
        cursor: pointer;
        :hover {
            transform: scale(1.1);
        }
    }
    &__btn {
        width: 100%;
        height: 100%;
        object-fit: none;
        :hover {
            background: #000;
        }
    }
}
@media only screen and (min-width: 1024px) {
    .header {
        &__logo {
            width: 35px;
            height: 35px;
        }
        &__links {
            display: block;
        }
        
        &__burger {
            display: none;
        }
        ul {
            display: flex;
            gap: 20px;
            height: 60px;
            align-items: center;
            :hover {
                transform: scale(1.1);
            }
        }
    }
}
