$DarkText: #131313;
$LightText: #767676;
$PurpleText: #753bbd;
$BorderColor: #dddddd;

%HeaderText {
    color: $DarkText;
    font-size: 14px;
    font-weight: 700;
}

%CardText_mob {
 //styleName: 1mob;
 font-family: Roboto;
 font-size: 20px;
 font-weight: 700;
 line-height: 24px;
 letter-spacing: 0em;
 text-align: left;
}

%CartDesc_mob {
    //styleName: 3mob;
    color: $DarkText;
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
}

%CardSubText {
    //styleName: 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.0313em;
    text-align: left;
    color: $DarkText;
}

%HText {
    //styleName: 4;
    color: $DarkText;
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

%CardTitle {
    //styleName: 1;
    color: $DarkText;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

%CardSubTitle {
    //styleName: 2;
    color: $DarkText;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.0313em;
    text-align: left;
    text-transform: uppercase;
}

%CardDesc {
    //styleName: 3;
    color: $DarkText;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}
%ShowMeMore{
 //styleName: 7;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.0313em;
text-align: left;
text-transform: uppercase;
}

%PostSubTitle{
    //styleName: 5;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.0313em;
text-align: left;
text-transform: uppercase;
color: #767676;
}

%PostDesc{
    //styleName: 6;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}
%PostTitle_mob{
    //styleName: 4mob;
font-family: Roboto;
font-size: 26px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}