@charset "UTF-8";
/**
 Нормализация блочной модели
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* html,
*::before html,
*::after html {
  overflow-y: hidden;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header li {
  color: #131313;
  font-size: 14px;
  font-weight: 700;
}

.post h1, .cards h1 {
  color: #131313;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.cards__title .title {
  color: #131313;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: none;
}

.cards__title .subTitle {
  color: #131313;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.subTitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
  color: #767676;
}

.Desc {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.header li {
  color: #131313;
  font-size: 14px;
  font-weight: 700;
}

.post h1, .cards h1 {
  color: #131313;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.cards__title .title {
  color: #131313;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: none;
}

.cards__title .subTitle {
  color: #131313;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.subTitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
  color: #767676;
}

.Desc {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.header {
  display: flex;
  max-width: 100%;
  border-bottom: 1px solid #dddddd;
}
.header__logo {
  cursor: pointer;
}
.header__links {
  display: none;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 15px;
}
.header__items {
  display: flex;
}
.header li :hover {
  color: #753bbd;
}
.header__elem {
  display: flex;
  margin-left: 40px;
}
.header__buttons {
  width: 60px;
  align-items: center;
  text-align: center;
  display: flex;
  border-left: 1px solid #dddddd;
  cursor: pointer;
}
.header__buttons :hover {
  transform: scale(1.1);
}
.header__btn {
  width: 100%;
  height: 100%;
  object-fit: none;
}

@media only screen and (min-width: 1024px) {
  .header__logo {
    width: 35px;
    height: 35px;
  }
  .header__links {
    display: block;
  }
  .header__burger {
    display: none;
  }
  .header ul {
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
  }
  .header ul :hover {
    transform: scale(1.1);
  }
}
.cards {
  margin-top: 121px;
  display: flex;
}
.cards h1 {
  padding-left: 5%;
  margin-bottom: 80px;
}
.cards .cards__cardLink:hover .cards__card {
  border: 1px solid #753bbd;
}
.cards__wrapper {
  width: 100%;
}
.cards__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards__cardLink {
  display: flex;
  justify-content: center;
}
.cards__card {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #dddddd;
  width: 90%;
}
.cards__text {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.cards__title {
  cursor: pointer;
  display: flex;
  width: 90%;
  flex-direction: column;
  cursor: pointer;
}
.cards__title :hover {
  color: #753bbd;
}
.cards__title .subTitle {
  margin-top: 18px;
}
.cards__elem {
  display: flex;
  object-fit: none;
}
.cards__elem img {
  object-fit: none;
}
.cards__elem p {
  padding-left: 10px;
}
.cards__desc {
  margin-top: 45px;
  display: flex;
  width: 90%;
  flex-direction: column;
  cursor: pointer;
}
.cards__desc .secondDesc {
  padding-top: 15.5px;
  padding-bottom: 20px;
}
.cards__img {
  display: flex;
}
.cards__rightLine {
  width: 10px;
  background-color: #753bbd;
}
.cards__img {
  position: relative;
  border: none;
  display: flex;
}
.cards__img .specialImg {
  position: absolute;
  left: 0;
  top: 0;
}
.cards__img .emptyImg {
  opacity: 0;
}
.cards__img .imgCard {
  width: 100%;
}
.cards__img__rightLine {
  width: 10px;
  background-color: #753bbd;
}
@media only screen and (min-width: 768px) {
  .cards .cards__img .imgCard {
    object-fit: cover;
  }
  .cards .cards__card {
    display: flex;
    flex-direction: row-reverse;
  }
  .cards .cards__title .subTitle {
    margin-top: 5px;
  }
  .cards .cards .secondDesc {
    padding-top: 11.5px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cards .cards {
    display: flex;
  }
  .cards .cards__wrapper {
    margin-left: 100px;
    width: 50%;
    display: flex;
  }
  .cards .cards__wrapper h1 {
    padding-left: 0;
  }
  .cards .cards__list {
    width: 100%;
  }
  .cards .cards__cardLink {
    display: inline;
    width: 100%;
  }
  .cards .cards__card {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 700px;
  }
  .cards .imgCard {
    min-width: 330px;
    object-fit: cover;
  }
}

.post {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.post_text {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  align-items: center;
}
.post__text-container {
  width: 80%;
}
.post__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 90%;
}
.post__post {
  display: flex;
  margin-top: 80px;
}
.post__postImage {
  display: flex;
}
.post__rightLine-post {
  width: 15px;
  background-color: #05c3de;
}
.post__title {
  margin-top: 30px;
}
.post__title :hover {
  color: #753bbd;
}
.post__subTitle {
  margin-top: 10px;
  margin-bottom: 20px;
}
.post__elem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: flex-start;
}
.post__elem-left {
  display: flex;
  align-items: flex-start;
}
.post__rightImg {
  display: none;
}

.postImg {
  height: 300px;
  max-width: 50px;
  object-fit: cover;
  height: 100%;
}

.Desc {
  padding-left: 15px;
}
.Desc span {
  color: #753bbd;
}

.Desc-lg {
  display: none;
}

.showMore {
  display: none;
}

.showButton {
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 2px solid #dddddd;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .post .postImg {
    max-width: 100%;
  }
  .post__rightLine-post {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .post {
    align-items: inherit;
  }
  .post_text {
    width: 100%;
  }
  .post__wrapper {
    margin-left: 100px;
    width: 90%;
  }
  .post__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .post__title {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .post__subTitle {
    margin-top: 30px;
  }
  .post__elem {
    align-items: inherit;
  }
  .post__elem-left {
    align-items: inherit;
  }
  .post__rightImg {
    display: block;
    object-fit: cover;
  }
  .post__rightLine {
    width: 40px;
    background-color: #05c3de;
  }
  .title {
    color: #131313;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }
  .border {
    width: 40px;
    border-top: 3px solid #dddddd;
    margin: 0px 17px 0px 17px;
  }
  .showMore {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .subTitle {
    margin-top: 30px;
  }
  .Desc-lg {
    display: block;
  }
  .Desc-sm {
    display: none;
  }
  .showButton {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */