@charset "UTF-8";
/**
 Нормализация блочной модели
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* html,
*::before html,
*::after html {
  overflow-y: hidden;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header li {
  color: #131313;
  font-size: 14px;
  font-weight: 700;
}

.post h1, .cards h1 {
  color: #131313;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.cards__title .title {
  color: #131313;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.cards__title .subTitle {
  color: #131313;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.post__title p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.post__subTitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
  color: #767676;
}

.header li {
  color: #131313;
  font-size: 14px;
  font-weight: 700;
}

.post h1, .cards h1 {
  color: #131313;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.cards__title .title {
  color: #131313;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.cards__title .subTitle {
  color: #131313;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.post__title p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.post__subTitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
  color: #767676;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dddddd;
}
.header__logo {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 15px;
}
.header__items {
  display: flex;
}
.header ul {
  display: flex;
  gap: 20px;
  height: 60px;
  align-items: center;
}
.header ul :hover {
  transform: scale(1.1);
}
.header li :hover {
  color: #753bbd;
}
.header__elem {
  display: flex;
  margin-left: 40px;
}
.header__buttons {
  width: 60px;
  align-items: center;
  text-align: center;
  display: flex;
  border-left: 1px solid #dddddd;
  cursor: pointer;
}
.header__buttons :hover {
  transform: scale(1.1);
}
.header__burger {
  display: none;
}
.header__btn {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.header__btn :hover {
  background: #000;
}

@media only screen and (max-width: 730px) {
  .header__logo {
    width: auto;
    height: auto;
  }
  .header__links {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.header li {
  color: #131313;
  font-size: 14px;
  font-weight: 700;
}

.post h1, .cards h1 {
  color: #131313;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.cards__title .title {
  color: #131313;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.cards__title .subTitle {
  color: #131313;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.post__title p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
}

.post__subTitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0313em;
  text-align: left;
  text-transform: uppercase;
  color: #767676;
}

.cards {
  margin-top: 80px;
  margin-left: 100px;
}
.cards__list {
  width: 875px;
  margin-top: 80px;
}
.cards__card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dddddd;
}
.cards__text {
  width: 535px;
  height: 225px;
  padding-left: 30px;
  padding-top: 30px;
}
.cards__title {
  cursor: pointer;
}
.cards__title :hover {
  color: #753bbd;
}
.cards__title .subTitle {
  margin-top: 5px;
}
.cards__elem {
  display: flex;
  object-fit: none;
}
.cards__elem img {
  object-fit: none;
}
.cards__elem p {
  padding-left: 10px;
}
.cards__desc {
  margin-top: 45px;
}
.cards__desc .secondDesc {
  padding-top: 15.5px;
}
.cards__img {
  display: flex;
  height: 100%;
}
.cards .imgCard {
  width: 330px;
}
.cards__rightLine {
  width: 10px;
  background-color: #753bbd;
}
.cards__img {
  position: relative;
  border: none;
  display: flex;
}
.cards__img .specialImg {
  position: absolute;
  left: 0;
  top: 0;
}
.cards__img .emptyImg {
  opacity: 0;
}
.cards__img .imgCard {
  width: 330px;
}
.cards__img__rightLine {
  width: 10px;
  background-color: #753bbd;
}

@media only screen and (max-width: 992px) {
  .cards__img {
    height: 227px;
  }
  .cards__img .imgCard {
    height: 100%;
    object-fit: none;
    width: 100%;
  }
  .cards__list {
    width: auto;
    margin-right: 80px;
  }
  .cards__card {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 730px) {
  .cards {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cards__wrapper {
    align-items: center;
    text-align: center;
  }
  .cards__card {
    display: flex;
    flex-direction: column-reverse;
  }
  .cards__list {
    width: 340px;
    margin-right: 0;
    left: 0;
    right: 0;
  }
  .cards__text {
    width: 100%;
  }
  .cards__text .subTitle {
    margin-top: 18px;
  }
  .cards .title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .cards__desc {
    margin-top: 30px;
  }
  .cards__img {
    display: flex;
    height: 100%;
  }
  .cards .imgCard {
    width: 330px;
  }
  .cards__rightLine {
    width: 10px;
    background-color: #753bbd;
  }
}
.post {
  margin: 80px 100px 100px 100px;
  padding-bottom: 80px;
}
.post__postImage {
  display: flex;
}
.post__rightLine-post {
  height: 100%;
  width: 40px;
  background-color: #05c3de;
  display: none;
}
.post_text {
  padding: 80px;
  background-color: #f3f3f3;
}
.post__post {
  display: flex;
  margin-top: 80px;
  height: 393px;
}
.post__post .postImg {
  height: 100%;
  width: 100%;
}
.post__title {
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 46px;
  align-items: center;
}
.post__title :hover {
  color: #753bbd;
}
.post__title .border {
  width: 40px;
  border-top: 3px solid #dddddd;
  margin: 0px 17px 0px 17px;
}
.post__subTitle {
  margin-top: 30px;
}
.post__elem {
  display: flex;
  width: 840px;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}
.post__elem img {
  object-fit: none;
}
.post__elem p {
  padding-left: 15px;
}
.post__elem p span {
  color: #753bbd;
}
.post__elem .arrow1 {
  padding-left: 10%;
}
.post__elem .arrow2 {
  padding-left: 27%;
}
.post .showButton {
  display: none;
}
.post__rightLine {
  height: 100%;
  width: 40px;
  background-color: #05c3de;
}

@media only screen and (max-width: 1640px) {
  .post_text {
    padding: 80px 40px;
  }
  .post__elem {
    width: 450px;
  }
}
@media only screen and (max-width: 1300px) {
  .post__rightLine-post {
    display: block;
  }
  .post__rightImg {
    display: none;
  }
  .post_text {
    padding: 80px;
    background-color: #f3f3f3;
  }
  .postImg {
    object-fit: cover;
  }
}
@media only screen and (max-width: 1100px) {
  .post {
    margin: 80px 10px 80px 10px;
  }
  .post_text {
    padding: 30px;
  }
  .post_text .title {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
  }
  .post_text .border {
    display: none;
  }
  .post_text .showMore {
    display: none;
  }
  .post__rightLine-post {
    display: block;
  }
  .post__post {
    width: 100%;
    height: 100%;
  }
  .post .postImg {
    height: 100%;
  }
  .post__subTitle {
    margin-top: 10px;
  }
  .post__elem {
    width: 100%;
    margin-top: 20px;
  }
  .post .showButton {
    display: block;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #dddddd;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */